.stage {
  position: absolute;
  top: 37%;
  right: 44.5%;
}

body {
    background: url("./img/chain.gif");
    background-color: #000000;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div.container {
    position: absolute;
    top:37%;
    left: 23.3%;
    width: 53.5%;
    height: auto;
}

.footer {
  color: white;
  border-top: solid white 1px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .3rem;
  background-color: #000000;
  text-align: left;
}
