body {
    background: url("./img/bg.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#my-div{
  font-size: 1vw;
  color: white;
  margin-left: 35vw;
  margin-top: 6vw;
  width: 30%;
  height: 40%;
}

div.container {
    position: absolute;
    top: 30%;
    left: 23.3%;
    width: 53.5%;
    height: auto;
}
