body {
    background: url("./img/bg1.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#my-div{
  font-size: .9vw;
  color: white;
  margin-left: 34vw;
  margin-top: 5.8vw;
  width: 33%;
  height: auto;
}

#copy-div{
  font-size: .9vw;
  color: white;
  margin-left: 0vw;
  margin-top: 35%;
  width: 33%;
  height: auto;
}

div.container {
    position: absolute;
    top: 40%;
    left: 23.3%;
    width: 53.5%;
    height: auto;
}
